table, td, th {
    border: 2px solid rgb(1, 1, 10);
    
}
table {        
    width: 20%;
    border-collapse: collapse;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #04AA6D;
}
body{
    font-family: Arial;
}
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 30px;
    background: #73AD21;
    padding: 20px; 
    width: 250px;
    height:15px;  
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
 


 
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
